<!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.3/css/bootstrap.min.css">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
  <link rel="stylesheet" href="/styles/styles.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=PT+Sans:400,700' rel='stylesheet' type='text/css'>
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-datepicker/1.4.1/css/bootstrap-datepicker3.css"/>
  <link href="/MDB/css/bootstrap.min.css" rel="stylesheet">
  <!-- Material Design Bootstrap -->
  <link href="/MDB/css/mdb.min.css" rel="stylesheet">

	<link rel="stylesheet" href="../../public/styles/reset.css"> <!-- Resource style -->
  <link rel="stylesheet" href="../../public/styles/styles.css">

  <title>VeryKoi</title>

</head>
	
<body>
		<!-- JQuery -->
	<script type="text/javascript" src="/MDB/js/jquery-3.3.1.min.js"></script>
	<!-- Bootstrap tooltips -->
	<script type="text/javascript" src="/MDB/js/popper.min.js"></script>
	<!-- Bootstrap core JavaScript -->
	<script type="text/javascript" src="/MDB/js/bootstrap.min.js"></script>
	<!-- MDB core JavaScript -->
	<script type="text/javascript" src="/MDB/js/mdb.min.js"></script>
  
<header>
  <!--Navbar -->
<nav class="mb-1 navbar navbar-dark bg-dark">
 <!-- Just an image -->

  <a class="navbar-brand" href="#">
    <img src="http://calnev-email.brtapp.com/files/graphics/koi3.png" height="100" alt="verykoi logo">
  </a>
  <a class="navbar-brand" href="/">VERYKOI</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent-4"
    aria-controls="navbarSupportedContent-4" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarSupportedContent-4">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item active">
        <a class="nav-link" href="/">Home
          
          <span class="sr-only">(current)</span>
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="/blog">Blog</a>
          
      </li>
      {{!-- <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle" id="navbarDropdownMenuLink-4" data-toggle="dropdown"
          aria-haspopup="true" aria-expanded="false">
          <i class="fas fa-user"></i> Profile </a>
        <div class="dropdown-menu dropdown-menu-right dropdown-info" aria-labelledby="navbarDropdownMenuLink-4">
          <a class="dropdown-item" href="#">My account</a>
          <a class="dropdown-item" href="#">Log out</a>
        </div>
      </li> --}}
    </ul>
  </div>
  <form class="fo rm-inline my-2 my-lg-0 ml-auto">
         {{>navbar/navbar-block}}
        </form>
</nav>
<!--/.Navbar -->

  {{!-- Navbar --}}
  {{!-- <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="/">VeryKoi</a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
          </button>
            <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
              <div class="navbar-nav cd-main-nav js-main-nav">
                <ul class="cd-main-nav__list js-signin-modal-trigger">
                  <li><a class="nav-item   nav-link active" href="/">Home <span class="sr-only">(current)</span></a></li>
                  <li><a class="nav-item nav-link" href="/blog">Posts</a></li>
                </ul>
            </div>
          </div>
        <form class="fo rm-inline my-2 my-lg-0 ml-auto">
         {{>navbar/navbar-block}}
        </form>
  </nav> --}}
</header>
                

  {{{body}}}
	<script src="/././public/js/credentials.js"></script>
</body>



<script src="js/placeholders.min.js"></script> <!-- polyfill for the HTML5 placeholder attribute -->
<script src="js/main.js"></script> <!-- Resource JavaScript -->
</body>


<footer class="navbar sticky-bottom justify-content-center navbar-dark bg-dark footer page-footer fixed-bottom">

        <p class="navbar-brand footer-text" id="copyright">
            Built by:&nbsp;&nbsp;
            <a class="author" href="https://github.com/DobienC" target="_blank">Dobien,  </a>
            <a class="author" href="https://github.com/Ellyshachavez" target="_blank">Ellysha Chavez, </a>
            <a class="author" href="https://github.com/tuayang" target="_blank">Toua Yang </a>
        </p>
</footer>
</html>
