
<section class="text-center img-fluid" id="goFish">
  <img src="http://calnev-email.brtapp.com/files/graphics/go.png" class="animated fadeInLeft img-fluid" id="animated-img1"> 
  <img src="http://calnev-email.brtapp.com/files/graphics/fishing.png" class="animated fadeInRight img-fluid" id="animated-img1"> 
  <img src="http://calnev-email.brtapp.com/files/graphics/exclaim.png" class="animated bounceInDown img-fluid" id="animated-img1">
</section>
<div class="bg"></div>


